main.dashboard-bg {
  background-color: #9fb2d3;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 7rem;
}

.dashboard h1 {
  font-size: 2.5rem;
  display: inline-block;
  animation: wave 3000ms ease-in;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(8deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-6deg);
  }
  80% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.dashboard-favorites {
  background-color: rgb(240, 139, 102);
  border-radius: 2rem;
  padding: 1rem 2rem;
  animation: fadeInDown 1000ms cubic-bezier(0.22, -0.75, 0.35, 1.67);
}

.dashboard-favorites h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.favorite-events {
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
}

.favorite-events .event-img-container {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 50%;
}

.favorite-event {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.favorite-events .event-time-info {
  justify-content: center;
}

.favorite-events .event-info {
  text-align: center;
}

.favorite-events .favorite-btn {
  top: 5rem;
  right: 2rem;
}
