#root {
  position: relative;
}

#map-container {
  position: absolute;
  inset: 0;
  background-color: lightgrey;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 4rem;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 10.3rem;
  z-index: 1;
  left: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.city-select {
  position: absolute;
  top: 7.3rem;
  left: 1rem;
  z-index: 10;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.city-select select {
  border: none;
  color: #47201c;
}

.my-popup,
.mapboxgl-popup-content {
  background-color: aliceblue;
  border-radius: 1rem;
}

.mapboxgl-popup-tip {
  display: none;
}

.my-popup {
  padding: 1rem;
}

.my-popup .event-img-container {
  margin-bottom: 0.5rem;
}

.my-popup .event-name {
  font-size: 1rem;
}

@media (max-width: 31.25rem) {
  .city-select {
    top: 9rem;
  }
}
