.events-error,
.events-section {
  padding: 2rem 3rem;
}

.error-msg {
  padding: 3rem;
  font-size: 1.2rem;
}

.events-msg {
  font-size: 1.2rem;
}

.events-hero {
  margin-bottom: 3rem;
}

.events-hero h1 {
  font-size: 4rem;
  font-weight: 900;
  animation: popIn 1000ms ease-out forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8) rotate(-5deg) translateY(40px);
  }
  60% {
    opacity: 1;
    transform: scale(1.05) rotate(2deg) translateY(-10px);
  }
  80% {
    transform: scale(0.98) rotate(-2deg) translateY(5px);
  }
  100% {
    transform: scale(1) rotate(0deg) translateY(0);
  }
}

.vibe-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.vibe-filter {
  background-color: transparent;
  border: 2px solid #7a9e80a1;
  border-radius: 2rem;
  padding: 0.3rem 2rem;
  font-weight: 500;
  transition: background-color 100ms, color 100ms;
}

.vibe-filter:hover {
  background-color: #e7faeb;
}

.vibe-filter.active {
  background-color: #7a9e80;
  color: white;
}

.feature-event {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 4rem;
  width: 80vw;
  margin: 0 auto 3rem;
}

.feature-event .event-img-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.event-img-container {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 1.2rem;
}

.event-img-container:hover .view-event-overlay {
  opacity: 1;
}

.event-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.view-event-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  transition: opacity 150ms;
}

.feature-event .event-info {
  flex-basis: 50%;
}

.event-info {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.event-time-info {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  flex-wrap: wrap;
}

.feature-event .event-name {
  font-size: 2rem;
}

.event-name {
  font-size: 1.5rem;
}

.events,
.similar-events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 2rem;
}

.event {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pagination .btn,
.go-back-btn {
  padding: 0.7rem 1.5rem;
  border-radius: 3rem;
  background-color: #efe8e2;
  transition: background-color 150ms;
}

.pagination .btn:hover,
.go-back-btn:hover {
  background-color: #d9e8f7;
}
