.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: aliceblue;
}

.home-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 800;
  font-size: 1.5rem;
}

.nav ul {
  padding: 0;
  list-style: none;
}

.explore-nav,
.user-nav {
  display: flex;
  gap: 2rem;
  font-weight: 500;
}

.nav-link {
  position: relative;
  padding: 0.7rem 1.5rem 0.6rem;
  background-color: #efe8e2;
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 150ms;
}

.nav-link:hover {
  background-color: #d9e8f7;
}

.nav-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1rem; /* the hover bridge space */
}

/* Need this to wrap the dropdown menu so the vertical paddings stay when we scroll */
.dropdown-container {
  position: absolute;
  top: 3.7rem;
  left: -2rem;
  padding: 1rem;
  font-weight: normal;
  border-radius: 1rem;
  background-color: white;
}

/* dropdown animations */
.dropdown-container {
  transform-origin: top;
  animation: dropdownFadeIn 300ms ease forwards;
}

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: scaleY(0.3);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.dropdown .dropdown-cities,
.dropdown .dropdown-vibes {
  padding: 0 1rem;
  max-height: 70vh;
  overflow-y: scroll;
}

.dropdown-cities,
.dropdown-vibes {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 32rem;
}

.dropdown-vibes {
  width: 20rem;
}

.dropdown-cities::-webkit-scrollbar {
  width: 8px;
}

.dropdown-cities::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 4px;
}

.dropdown-cities::-webkit-scrollbar-thumb {
  background-color: #dedbdb;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.dropdown-city,
.dropdown-vibe {
  cursor: pointer;
  transition: background-color 100ms;
}

.dropdown-city:hover,
.dropdown-vibe:hover {
  background-color: #d9e8f7;
  border-radius: 5rem;
}

.dropdown-city a,
.dropdown-vibe a {
  display: inline-block;
  width: 100%;
  padding: 0.4rem 1rem;
}
